@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
:root {
    --app-height: 100vh;
}
#root,
.app-container {
    height: 100%;
    min-height: var(--app-height);
    display: flex;
    flex-direction: column;
}
body {
    height: var(--app-height);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.krona {
    font-family: "Krona One", sans-serif;
}
.notification {
    font-size: 20px;
    font-family: "Oxanium";
    background: -webkit-linear-gradient(#eee, #68FE43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.moreLinkButton {
    background: linear-gradient(
        109.67deg,
        #3919FF -4.47%,
        #1C020D -4.47%,
        #2A0D81 60.98%
    );
}







